<section id="follow">
<div class="text-center">
    <slot name="heading" ></slot>
    <div class="pb-8">
        <a href="http://open.spotify.com/show/1kRdGSsgqVpKmQJ4PWXhh3?si=030d99c8971b4b8c">
        <button type="button" class="lg:px-6 lg:py-3 lg:text-base text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 mr-2 mb-2">
            Spotify <img src="/spotify.png" alt="Spotify-Logo" class="h-5 ml-2 -mr-1"> 
        </button>
        </a>

        <a href="http://podcasts.apple.com/in/podcast/the-startup-operator/id1509369847">
        <button type="button" class="lg:px-6 lg:py-3 lg:text-base text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 mr-2 mb-2">
            Apple Podcast <img src="/apple.png" alt="Apple-Logo" class="h-5 ml-2 -mr-1">
        </button>
        </a>

        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cub21ueWNvbnRlbnQuY29tL2QvcGxheWxpc3QvNGJiMzM3MDQtNjE1Yi00MDU0LWFhZTktYWNlNTAwZmQ0MTk3LzU4NzYzNWM1LTc3MzMtNDE5OC04YjYwLWFlOTgwMDUzODAyNS81MTZjNWQyOC0zMjZlLTQ1YmYtYTllMy1hZTk4MDA1MzgwNGEvcG9kY2FzdC5yc3M">
        <button type="button" class="lg:px-6 lg:py-3 lg:text-base text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 mr-2 mb-2">
            Google Podcast <img src="/google.png" alt="Google-Logo" class="h-5 ml-2 -mr-1">
        </button>
        </a>

        <a href="https://www.youtube.com/@StartupOperator">
        <button type="button" class= "lg:px-6 lg:py-3 lg:text-base text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 mr-2 mb-2">
                YouTube <img src="/yt.png" alt="Youtube-Logo" class="h-5 ml-2 -mr-1">
        </button>
        </a>
    </div>
</div>
</section>